.buttonClass {
  width: 300px;
  background-color: hsl(0, 0%, 20%);
  border-radius: 6px;
  font-weight: bold;
  padding: 8px;
  margin: 12px;
  cursor: pointer;
}

.buttonClass:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 0%);
}
